Repository himalaya-beta/transparency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
	"*.{js,jsx,cjs,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.{md,json}": "prettier --write"
}

:wrench: chore: ignore prisma migration file
  .gitignore
Due: none

:card_file_box: feat: migrate to mysql on planetscale
  prisma/schema.prisma
Due: none

:passport_control: feat: google OAuth
  src/env/schema.mjs
  src/pages/api/auth/[...nextauth].ts
Due: prettier --write, eslint --fix

:page_facing_up: chore: rename app & add author
  package.json
Due: prettier --write

:memo: docs: why we exist
  README.md
Due: prettier --write

:memo: docs: add tagline & fix grammar
  README.md
Due: prettier --write

:lipstick: style: favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/pages/_document.tsx
Due: prettier --write, eslint --fix

:lipstick: style: fonts
  src/pages/_document.tsx
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:sparkles: feat: import svg as component
  next.config.mjs
  package-lock.json
  package.json
Due: prettier --write

:art: feat: homepage
  public/images/tnc.svg
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: responsive homepage
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: button outlined & filled
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: fix: tap highlight & safe area inset bottom
  src/styles/globals.css
Due: none

:lipstick: style: blinking svg
  package-lock.json
  package.json
  src/components/svg/tnc.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: text gradient animation
  src/pages/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:lipstick: style: remove delay
  src/components/svg/tnc.tsx
Due: prettier --write, eslint --fix

:lipstick: style: entrance animation
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:bug: fix: overflow seen on entrace
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: button hover & icon
  public/images/magnifying-glass.svg
  public/images/people-group.svg
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: ping-delay & bounce-delay animation
  src/pages/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:recycle: refactor: rainbow gradient
  src/pages/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:lipstick: style: remove default p weight
  src/styles/globals.css
Due: none

:lipstick: style: 2xl breakpoint 1440p
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:lipstick: style: h2 text decoration
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: fix: grid responsive layout
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: button shadow on press & remove duration
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: sass
  package-lock.json
  package.json
Due: prettier --write

:lipstick: refactor: flash animation
  src/components/svg/animation.module.scss
  src/components/svg/tnc.tsx
  src/styles/animation/flash.module.scss
Due: prettier --write, eslint --fix

:hammer: chore: sass watch
  .gitignore
  package.json
Due: prettier --write

:recycle: refactor: flashing animation
  src/components/svg/animation.module.scss
  src/components/svg/tnc.tsx
  src/styles/animation/flash.module.scss
  src/styles/svg/tnc.module.scss
Due: prettier --write, eslint --fix

:recycle: refactor(style): bouncing animation
  src/pages/index.tsx
  src/styles/animation/bounce.module.scss
  src/styles/index.module.scss
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:recycle: refactor(style): bounce animation
  src/pages/index.tsx
  src/styles/animation/ping.module.scss
  src/styles/index.module.scss
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:recycle: style: remove entrance animation & change swiggle color
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:recycle: refactor: zigzag gradient animation
  src/pages/index.tsx
  src/styles/animation/zigzag.module.scss
  src/styles/index.module.scss
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:recycle: refactor: entrance animation
  src/pages/index.tsx
  src/styles/animation/fade.module.scss
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:pencil2: style: hide left text on md & lg, reduce opacity
  src/components/svg/tnc.tsx
Due: prettier --write, eslint --fix

:pencil2: fix: to long duration
  src/styles/index.module.scss
Due: none

:pencil2: fix: layout & text wrap
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:pencil2: fix: responsive h1 margin
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: hide pen icon
  src/components/svg/tnc.tsx
Due: prettier --write, eslint --fix
