Repository himalaya-beta/transparency: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
	"*.{js,jsx,cjs,ts,tsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.{md,json}": "prettier --write"
}

:lipstick: style(animation): flashing in order
  src/components/svg/tnc.tsx
  src/styles/svg/tnc.module.scss
Due: prettier --write, eslint --fix

:lipstick: style(animation): h1 typewriter
  src/pages/index.tsx
  src/styles/animation/typed.module.scss
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:lipstick: style: h2 text decoration
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:pencil2: fix(style): typewriter nowrap
  src/pages/index.tsx
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:lipstick: style(animation): cool entrance
  src/pages/index.tsx
  src/styles/animation/fade.module.scss
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:lipstick: fix(animation): rugged reveal
  src/styles/animation/fade.module.scss
Due: none

:recycle: chore: change base path & add path aliases
  src/components/svg/tnc.tsx
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/examples.ts
  src/pages/api/restricted.ts
  src/pages/api/trpc/[trpc].ts
  src/pages/index.tsx
  src/server/common/get-server-auth-session.ts
  src/styles/svg/tnc.module.scss
  src/utils/trpc.ts
  tsconfig.json
Due: prettier --write, eslint --fix

:wrench: chore: typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

:recycle: refactor: button components
  src/components/button.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:recycle: refactor(types): abstract Wrapper type
  src/components/button.tsx
  src/types/component.ts
Due: prettier --write, eslint --fix

:lipstick: style: glassmorphism
  src/pages/index.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix

:lipstick: style: adjust to fit glassmorphism
  src/components/button.tsx
Due: prettier --write, eslint --fix

:lipstick: style: hide side text shadow, show side text on sm & xl
  src/components/svg/tnc.tsx
Due: prettier --write, eslint --fix

:pencil2: fix(style): mixin wrapper
  src/styles/animation/fade.module.scss
Due: none

:pencil2: fix(animation): glass component
  src/styles/index.module.scss
Due: none

:lipstick: style(animation): transition smoothing
  src/pages/index.tsx
  src/styles/animation/fade.module.scss
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:sparkles: feat: parallax tilt
  package-lock.json
  package.json
Due: prettier --write

:label: chore: custom button props type
  src/components/button.tsx
Due: prettier --write, eslint --fix

:lipstick: chore: translate-z 3d perspective
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:technologist: chore: device detect hook
  src/utils/hooks/use-device-detect.ts
Due: prettier --write, eslint --fix

:recycle: refactor: global style on scss
  src/styles/globals.scss
Due: none

:bug: fix(transition): fadeIn left & right
  src/styles/animation/fade.module.scss
Due: none

:lipstick: style(transition): zoom in
  src/styles/animation/fade.module.scss
Due: none

:pencil2: fix: error on watch, use calc
  src/styles/animation/typed.module.scss
Due: none

:pencil2: fix: missing import after global scss
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

:lipstick: style: 3d perpsective on button hover
  src/styles/globals.scss
Due: none

:lipstick: style: parallax tilt
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style(transition): adjust after parallax effect
  src/styles/index.module.scss
Due: none

:lipstick: fix(transition): button delay too long
  src/styles/index.module.scss
Due: none

:lipstick: style: glowing on hover
  src/pages/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

:lipstick: style: move further back/forth on hover
  src/pages/index.tsx
Due: prettier --write, eslint --fix

:lipstick: style: adjust main glass opacity
  src/pages/index.tsx
  src/styles/globals.scss
Due: prettier --write, eslint --fix

:lipstick: style: logo glowing on hover
  src/components/svg/tnc.tsx
  src/pages/index.tsx
  src/styles/globals.scss
Due: prettier --write, eslint --fix

:lipstick: style(animation): change bounce to ping
  src/pages/index.tsx
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:lipstick: style(animation): ping on glass
  src/pages/index.tsx
  src/styles/animation/ping.module.scss
  src/styles/index.module.scss
Due: prettier --write, eslint --fix

:paintbrush: parallax tilt, neon background, pinging glass, etc (#2)
  package-lock.json
  package.json
  src/components/button.tsx
  src/components/svg/tnc.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/animation/fade.module.scss
  src/styles/animation/ping.module.scss
  src/styles/animation/typed.module.scss
  src/styles/globals.scss
  src/styles/index.module.scss
  src/utils/hooks/use-device-detect.ts
  tailwind.config.cjs
Due: prettier --write, eslint --fix

database-schema
  database
Due: none

:arrow_up: chore: update to t3 v6.10
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  .yarnrc
  commitlint.config.cjs
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  prettier.config.cjs
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/examples.ts
  src/pages/api/restricted.ts
  src/pages/api/trpc/[trpc].ts
  src/server/common/get-server-auth-session.ts
  src/server/db/client.ts
  src/server/trpc/context.ts
  src/server/trpc/router/_app.ts
  src/server/trpc/router/auth.ts
  src/server/trpc/router/example.ts
  src/server/trpc/trpc.ts
  src/styles/globals.scss
  src/utils/trpc.ts
  tsconfig.json
Due: prettier --write, eslint --fix

:arrow_up: chore: update to t3 v6.10
  src/server/trpc/router/_app.ts
  src/server/trpc/router/example.ts
  src/server/trpc/router/index.ts
Due: prettier --write, eslint --fix

:card_file_box: feat: example table;
  prisma/schema.prisma
Due: none
